# <span style="color:red"> Lecture 11: Subsetting Data </span>

<font size = "4">

Topics you should know up to this point:

- *Data Types:* int, float, str, lists, arrays,<br>
booleans, pandas dataframes

- *Numpy:* mathematical functions <br>
 and random numbers

- If/else statements and *loops*

If there are any of these topics you need help <br>
 understanding, don't be afraid to come to office hours!

<font size = "4">

This lecture:

- pandas dataframes
- subsetting data

## <span style="color:red"> I. Import Libraries and Read Files</span>

In [1]:
# the "pandas" library is for manipualting datasets
# the "matplotlib.pyplot" library is for creating graphs
import pandas as pd
import matplotlib.pyplot as plt

<font size = "4">

How should I load in the .csv file inside the data_raw folder?

In [5]:
# Read the car features dataset

carfeatures = pd.read_csv("data_raw/subfolder1/annoying_subfolder/features.csv")

In [6]:
type(carfeatures)

pandas.core.frame.DataFrame

## <span style="color:red"> II. Basic data display </span>

<font size = "4">

- Go to the Jupyter Variables tab at the top of the notebook. Then click on icon to the left of "carfeatures"
- OR type ``print(carfeatures)``
- OR simply type ``carfeatures`` as the last line of a cell

In [7]:
print(carfeatures)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

In [8]:
carfeatures

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

## <span style="color:red"> III. Extract column/variable names </span>

<font size = "4">

In Homework #2, you manually created a list of column names. Pandas can do that for you

In [9]:
car_colnames = carfeatures.columns.values
print(car_colnames)

# Is this a list? A Numpy array? Are you checking what objects are, or just coding 
# with reckless abandon?

print(type(car_colnames))
print(type(car_colnames[0]))

['mpg' 'cylinders' 'displacement' 'horsepower' 'weight' 'acceleration'
 'vehicle_id']
<class 'numpy.ndarray'>
<class 'str'>

In [10]:
# Just like HW #2, we can use car_colnames to grab columns from the dataset

# manually..
mpg = carfeatures["mpg"]

# using car_colnames
mpg_alt = carfeatures[car_colnames[0]]
print(mpg)
print(mpg_alt)

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64
0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [11]:
# Did you check the TYPE ?!
print(type(mpg))

<class 'pandas.core.series.Series'>

<font size = "4">

Grab multiple variables

In [12]:
list_subsetcols = ["weight","mpg"]
subcols_carfeatures = carfeatures[list_subsetcols]

print(type(subcols_carfeatures))
print(subcols_carfeatures)

<class 'pandas.core.frame.DataFrame'>
     weight   mpg
0      3504  18.0
1      3693  15.0
2      3436  18.0
3      3433  16.0
4      3449  17.0
..      ...   ...
393    2790  27.0
394    2130  44.0
395    2295  32.0
396    2625  28.0
397    2720  31.0

[398 rows x 2 columns]

In [13]:

# list_subsetcols = ["weight","mpg"] # created a variable list_subsetcols...
# subcols_carfeatures = carfeatures[list_subsetcols] # ...just to place it within the brackets

# skip the intermediate variable
subcols_carfeatures = carfeatures[["weight", "mpg"]]
print(subcols_carfeatures)

     weight   mpg
0      3504  18.0
1      3693  15.0
2      3436  18.0
3      3433  16.0
4      3449  17.0
..      ...   ...
393    2790  27.0
394    2130  44.0
395    2295  32.0
396    2625  28.0
397    2720  31.0

[398 rows x 2 columns]

In [14]:
print(car_colnames[4])
print(car_colnames[0])

weight
mpg

In [ ]:
# Use car_colnames plus the indices 4, 0
list_subsetcols = [car_colnames[4], car_colnames[0]]
subcols_carfeatures = carfeatures[list_subsetcols]

# OR

subcols_carfeatures = carfeatures[[car_colnames[4], car_colnames[0]]]

# number of brackets matter

print(subcols_carfeatures)

     weight   mpg
0      3504  18.0
1      3693  15.0
2      3436  18.0
3      3433  16.0
4      3449  17.0
..      ...   ...
393    2790  27.0
394    2130  44.0
395    2295  32.0
396    2625  28.0
397    2720  31.0

[398 rows x 2 columns]

<font size = "4">

**Exercise**: Extract the weight and acceleration variables

**Exercise**: Extract the displacement, horsepower, and vehicle_id variables

In [ ]:
# try yourself (will add the solution later)

## <span style="color:red"> IV. Sort by column/variable </span>

In [19]:
help(carfeatures.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(
    by: 'IndexLabel',
    *,
    axis: 'Axis' = 0,
    ascending: 'bool | list[bool] | tuple[bool, ...]' = True,
    inplace: 'bool' = False,
    kind: 'SortKind' = 'quicksort',
    na_position: 'str' = 'last',
    ignore_index: 'bool' = False,
    key: 'ValueKeyFunc | None' = None
) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [20]:
# sort the data-set by one of the variables
carsorted = carfeatures.sort_values(by = "mpg")
print(carsorted)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
28    9.0          8           304        193    4732          18.5  H-1690088
25   10.0          8           360        215    4615          14.0  F-1690055
26   10.0          8           307        200    4376          15.0  C-1690066
103  11.0          8           400        150    4997          14.0  C-1690913
124  11.0          8           350        180    3664          11.0  O-1691144
..    ...        ...           ...        ...     ...           ...        ...
326  43.4          4            90         48    2335          23.7  V-1693366
394  44.0          4            97         52    2130          24.6  V-1694114
325  44.3          4            90         48    2085          21.7  V-1693355
329  44.6          4            91         67    1850          13.8  H-1693399
322  46.6          4            86         65    2110          17.9  M-1693322

[398 rows x 7 columns]

In [21]:
# above we went from lowest mileage to highest mileage (ascending order)
# 
# To reverse the order, pass in the argument ascending = False 

carsorted = carfeatures.sort_values(by = "mpg", ascending = False)
print(carsorted)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
322  46.6          4            86         65    2110          17.9  M-1693322
329  44.6          4            91         67    1850          13.8  H-1693399
325  44.3          4            90         48    2085          21.7  V-1693355
394  44.0          4            97         52    2130          24.6  V-1694114
326  43.4          4            90         48    2335          23.7  V-1693366
..    ...        ...           ...        ...     ...           ...        ...
103  11.0          8           400        150    4997          14.0  C-1690913
67   11.0          8           429        208    4633          11.0  M-1690517
25   10.0          8           360        215    4615          14.0  F-1690055
26   10.0          8           307        200    4376          15.0  C-1690066
28    9.0          8           304        193    4732          18.5  H-1690088

[398 rows x 7 columns]

## <span style="color:red"> V. Subsetting by row/column position </span>

<font size = "4">

Each DataFrame has an "iloc" method. This stands for "integer-location based indexing"

In [22]:
print(carfeatures)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

In [23]:
# Above, see that car 0 has 18.0 mpg
# The value "18.0" is in the first row, and corresponds to the first column
# (the index column on the left is NOT considered a column/variable)

# Since Python starts counting from zero, this is in row 0 column 0

car0_mpg = carfeatures.iloc[0,0]
print(car0_mpg)

18.0

In [24]:
# Above, see that car 3 has weight of 3433
# Counting from zero, the value "3433" is in
# row 3, column
# The value "3433" is in row 3, column 4

car3_weight = carfeatures.iloc[3, 4]
print(car3_weight)

3433

In [25]:
# Let's grab ALL features of car 0 (mpg, cylinders, displacement, ..., vehicle_id)

# So we want all the entries along row zero. 
# Use a ":" (colon) for the column index to grab ALL the columns

car0_features = carfeatures.iloc[0,:]
print(car0_features)
print(type(car0_features))

mpg                  18.0
cylinders               8
displacement          307
horsepower            130
weight               3504
acceleration         12.0
vehicle_id      C-1689780
Name: 0, dtype: object
<class 'pandas.core.series.Series'>

In [26]:
# Grab all columns of car 3
car3_features = carfeatures.iloc[3,:]
print(car3_features)

mpg                  16.0
cylinders               8
displacement          304
horsepower            150
weight               3433
acceleration         12.0
vehicle_id      A-1689813
Name: 3, dtype: object

In [27]:
print(carfeatures)

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[398 rows x 7 columns]

In [28]:
# Column 0 corresponds to "mpg" (the index column on the far left doesn't count)

# Grab the entire column 0, which means grabbing ALL the rows

car_mpg = carfeatures.iloc[:, 0]
print(car_mpg)

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [29]:
# horsepower is column 3
# grab ALL rows of column 3

car_horsepower = carfeatures.iloc[:, 3]
car_horsepower

0      130
1      165
2      150
3      150
4      140
      ...
393     86
394     52
395     84
396     79
397     82
Name: horsepower, Length: 398, dtype: object

In [30]:
# Grab all features for cars 0, 4, 396 (so rows 0, 4, 396)

cargroup_features = carfeatures.iloc[ [0, 4, 396], : ]
print(cargroup_features)
print(type(cargroup_features))

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
4    17.0          8           302        140    3449          10.5  F-1689824
396  28.0          4           120         79    2625          18.6  F-1694136
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Grab all features for cars 0, 4, 396 (so rows 0, 4, 396)

group_rows = [0, 4, 396]
cargroup_features = carfeatures.iloc[ group_rows, : ]
print(cargroup_features)

In [ ]:
# Grab mpg, weight, vehicle_id for ALL cars (columns 0, 4, 6)

subfeatures = carfeatures.iloc[ : , [0, 4, 6] ]
print(subfeatures)

In [ ]:
# Grab mpg, weight, vehicle_id for ALL cars (columns 0, 4, 6)

sub_cols = [0, 4, 6]
subfeatures = carfeatures.iloc[ : , sub_cols]
print(subfeatures)

In [ ]:
# Grab mpg, weight, vehicle_id for cars 0, 4, 396
# So we need rows 0, 4, 396
# and columns 0, 4, 6

subdata = carfeatures.iloc[ [0, 4, 396], [0, 4, 6] ]
print(subdata)

### Subsetting blocks of rows

In [ ]:
# let's grab all features for the first 5 cars
# (rows 0, 1, 2, 3, 4)

first_5_cars = carfeatures.iloc[ :5, :]
print(first_5_cars)

In [ ]:
# let's grab all features for the first 5 cars
# (rows 0, 1, 2, 3, 4)

# we start with row 0
# the first row we *exclude* is row 5
first_5_cars = carfeatures.iloc[ 0:5, :]
print(first_5_cars)

In [ ]:
# if we shift the indices by 1
# (change 0:5 --> 1:6)
# Then we will grab rows (1,2,3,4,5)

cars_1_thru_5 = carfeatures.iloc[ 1:6, :]

# we start with row 1
# the first row we *exclude* is row 6

print(cars_1_thru_5)

<font size = "4">

Works similarly for blocks of columns, or blocks of both rows and columns

**Exercise:** Extract the columns corresponding to displacement, horsepower, and weight for all cars using ``.iloc``. The column indices should be of the form ``start:stop`` for appropriate integers ``start`` and ``stop``

**Exercise:** Extract the weight, acceleration, and vehicle_id information for cars 28, 29, 30, 31, 32 using ":" for both row and column indices

In [ ]:
## your answer here

<font size = "4">

**Exercise:** Create a dataset ``car_ascendingweight`` which sorts the cars from lowest to highest weight. Then extract the subset of the data corresponding to the 5 cars with the lowest weight (all their features, not just their weight)

In [ ]:
# your answer here

## <span style="color:red"> VI. Filtering Dataframes Based on Logical Expressions </span>

<font size = "4">

(i) Filtering using ```pandas.query()``` 

```python
data.query("logical expression")
```

In [ ]:
high_mileagecars = carfeatures.query("mpg >= 25")
print(high_mileagecars)

In [ ]:
# Use "and" / "or" for logical operations on queries

car_subset = carfeatures.query("(acceleration >= 12) and (acceleration < 18)")
print(car_subset)

<font size = "4">

(ii) Expressions with colnames + global variables (@)

In [ ]:
# You can invoke global variables into the query by using @variablename
# If you don't include @, then Python will try to look for a column with 
# that name.

threshold = 25
high_mileagecars = carfeatures.query("mpg >= @threshold")
print(high_mileagecars)

In [ ]:
lb = 12
ub = 18

car_subset = carfeatures.query("(acceleration >= @lb) and (acceleration < @ub)")
print(car_subset)

<font size = "4">

(iii) Handling white space

Ever wonder why I give folders names like "Lecture_11" instead of "Lecture 11"? Or name notebooks things like "Lecture9.ipynb" instead of "Lecture 9.ipynb"?

Because handling white spaces on a computer can be annoying in certain situations, as we will see here:

In [ ]:
# same data set, but column/variable 0 is "miles per gallon" instead of "mpg"

new_dset = pd.read_csv("data_raw/subfolder1/annoying_subfolder/features-bad-spacing.csv")
print(new_dset)

In [ ]:
data_threshold_horsepower = new_dset.query("miles per gallon >= 20")

<font size = "4">

Pretty scary looking error message...basically, it doesn't like the space (variable names can't have spaces in Python)

We've seen the double quote (") and the single quote (')

To the left of your 1 key is the backtick/grave accent (`). Need to use this

In [ ]:
# next line causes error
# data_threshold_horsepower = new_dset.query("miles per gallon >= 20")

# this next line is fine
data_threshold_horsepower = new_dset.query("`miles per gallon` >= 20")
print(data_threshold_horsepower)

<font size = "4">

**Exercise:** Subset the data, gathering all cars with exactly 8 cylinders and mpg $\ge$ 25.

In [ ]:
# Your solution here

## <span style="color:red"> VII. Application: Visualizing Subsets of the Data </span>

<font size = "4">

List of unique categories

In [ ]:
# Use pd.unique() to extract a numpy array with the unique elements in that column

array_unique_cylinders = pd.unique(carfeatures["cylinders"])
print(array_unique_cylinders)
print(type(array_unique_cylinders))

<font size = "4">

Compute two overlapping plots

In [ ]:
# If we call plt.scatter() twice to display two plots
# To display all plots simultaneously we include plt.show() at the very end.
# The idea is that the graphs are stacked on top of each other

df_8 = carfeatures.query("cylinders == 8")
df_4 = carfeatures.query("cylinders == 4")

plt.scatter(x = df_8["weight"],y = df_8["acceleration"])
plt.scatter(x = df_4["weight"],y = df_4["acceleration"])
plt.legend(labels = ["8","4"],
           title  = "Cylinders")

plt.xlabel("Weight")
plt.ylabel("Acceleration")
plt.show()

# Note: If we put plt.show() in between the plots, then the results will
# be shown on separate graphs instead.

<font size = "4">

Compute plots by all categories

In [ ]:
# Compute number of unique categories
list_unique_cylinders = pd.unique(carfeatures["cylinders"])

# Use a for loop to plot a scatter plot between "weight" and "acceleration"
# for each category. Each plot  will have a different color

for category in list_unique_cylinders:
    df   = carfeatures.query("cylinders == @category")
    plt.scatter(x = df["weight"], y = df["acceleration"])
    
# Add labels and a legends    
plt.xlabel("Weight")
plt.ylabel("Acceleration")
plt.legend(labels = list_unique_cylinders,
           title  = "Cylinders")
plt.show()

<font size="4">

**Exercise:** Compute a histogram of "mpg" by cylinder count for cars with 4, 6, and 8 cylinders.Here is what it might look like (using a fake dataset):

<img src="data_raw/fake_histogram.png" alt="drawing" width="400"/>


You can make the histograms transparent by adjusting ```alpha``` in

```python
    plt.hist(x = ..., alpha = 0.5)
```

In [ ]:
# your code here